/* Stylesheet for Assignment 7 */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 10px; 
	font-variant: small-caps;
	padding: 30px;
	height: 950px;
	background-image: url("../Images/concrete-texture.png");
}

/* Header */
#heading {
	text-align: center;
	background-color: #77a370; 
	height: 80px;  
	padding: 20px;
	font-size:10px;
}

/* Layout : Left */

#left_side {

	float: left; 
}

h2 {
	display: inline; 
	padding: 5px;
	color: #000000;
}

table {

	font-variant: small-caps;
	font-size:10px;
}

/* CVV Style */ 

#Invisible { 
	
	background: #222; color: #fff; 
}

/* Display inline within table cells */ 
#month, #year, button {

    	display: inline; 	
}

/* Font-Awesome Icon */ 
i {

	width: 100px;
	cursor: pointer;
}

/* ------------------------------ */

/* Layout : Right */
#right_side {
	
	float: right;  
}

#shopping_cart{
	
	border: 2px solid black; 
	border-radius: 10px; 
	border-style: double;
	background-color: white; 
}

#cart_heading {
		
	text-align: center; 
}

#cart_headers {
	
	color: #7bc46f;  
}

#os_table {
	
	padding:5px; 
}
